.edit-main {
    flex-basis: 750px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.edit-main .edit-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-main .edit-main-content .edit-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.edit-main .edit-main-content .edit-form div {
    display: flex;
    flex-direction: column;
    flex-basis: 320px;
    gap: 5px
}

.edit-main .edit-main-content .edit-form div input {
    background-color: #e1e1e1;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.edit-main .edit-main-content .edit-form div textarea {
    background-color: #e1e1e1;
    border: none;
    border-radius: 5px;
    height: 60px;
}

.edit-main .edit-submit {
    display: flex;
    flex-direction: column;
}

.edit-main .edit-submit hr {
    margin: 10px;
}

.edit-main .edit-submit button {
    border: none;
    background-color: #1497F5;
    padding: 10px;
    border-radius: 5px;
    color: white;
    align-self: end;
}