.resetPassword-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 80px auto;
  }

  .resetPassword-container h2 {
    margin-bottom: 25px;
    font-size: 26px;
    color: #333;
  }

  .resetPassword-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .resetPassword-container input[type="email"] {
    background-color: #F1F7EC;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }

  .resetPassword-container input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
  }

  .resetPassword-container button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
  }

  .resetPassword-container button[type="submit"]:hover {
    background-color: #0056b3;
  }

  .link-container {
    margin-top: 20px; /* Điều chỉnh khoảng cách theo nhu cầu */
}