body {
  background-color: #EDEBE9;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 80px auto;
}

.login-container h2 {
  margin-bottom: 25px;
  font-size: 26px;
  color: #333;
}

.login-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-container input[type="username"],
.login-container input[type="password"] {
  background-color: #F1F7EC;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.login-container input[type="username"]:focus,
.login-container input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.login-container button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 15px;
}

.login-container button[type="submit"]:hover {
  background-color: #0056b3;
}

.password-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-container input {
  flex: 1;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
  padding-right: 40px;
  /* Khoảng trống cho icon */
}

.password-input-container input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

.link-container {
  margin-top: 20px;
  /* Điều chỉnh khoảng cách theo nhu cầu */
}